PORT=3000

FRONTEND_URL=http://localhost:4200

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

RESEND_API_KEY=
ADMIN_EMAIL=

SZAMLAZZ_AGENT_KEY=
SELLER_BANK=
SELLER_BANK_ACCOUNT=
SELLER_EMAIL=

INVOICE_ENABLED=false